@tailwind base;
@tailwind components;
@tailwind utilities;
/* ---------- High-Contrast mode (.hc on <html>) ---------- */
html.hc,
html.hc body {
   filter: contrast(150%);
}

   html.hc.dark {
      background: #000;
      color: #ffff8b;
   }

